aiodns==3.5.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
alpaca-py==0.43.2
alpha_vantage==3.0.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.11.0
appdirs==1.4.4
APScheduler==3.11.1
asttokens==3.0.1
attrs==25.4.0
Authlib==1.6.5
autopep8==2.3.2
bcrypt==5.0.0
beautifulsoup4==4.14.2
blinker==1.9.0
bokeh==3.8.1
boto3==1.41.1
botocore==1.41.1
ccxt==4.5.20
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
coincurve==21.0.0
contourpy==1.3.3
cryptography==46.0.3
curl_cffi==0.13.0
cycler==0.12.1
databento==0.66.0
databento-dbn==0.44.0
decorator==5.2.1
deprecation==2.1.0
dill==0.4.0
distro==1.9.0
dnspython==2.8.0
dotenv==0.9.9
duckdb==1.4.2
email-validator==2.3.0
exchange_calendars==4.11.3
executing==2.2.1
fastapi==0.121.2
fastapi-cli==0.0.16
fastapi-cloud-cli==0.3.1
Flask==3.1.2
fonttools==4.60.1
free_proxy==1.1.3
frozendict==2.4.7
frozenlist==1.8.0
greenlet==3.2.4
h11==0.16.0
holidays==0.85
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
ibapi==9.81.1.post1
idna==3.11
inflection==0.5.1
iniconfig==2.3.0
ipython==9.7.0
ipython_pygments_lexers==1.1.1
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jiter==0.12.0
jmespath==1.0.1
jsonpickle==4.1.1
kiwisolver==1.4.9
korean-lunar-calendar==0.3.1
lumibot==4.3.7
lumiwealth-tradier==0.1.17
lxml==6.0.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.7
matplotlib-inline==0.2.1
mdurl==0.1.2
more-itertools==10.8.0
msgpack==1.0.3
multidict==6.7.0
multiprocess==0.70.18
multitasking==0.0.12
narwhals==2.12.0
numpy==2.3.4
oauthlib==3.3.1
openai==2.8.1
packaging==25.0
pandas==2.3.3
pandas-ta-classic==0.3.37
pandas_market_calendars==5.1.3
parso==0.8.5
peewee==3.18.3
pexpect==4.9.0
pillow==12.0.0
platformdirs==4.5.0
plotly==6.5.0
pluggy==1.6.0
polars==1.35.2
polars-runtime-32==1.35.2
polygon-api-client==1.16.3
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==6.33.1
psutil==7.1.3
psycopg2-binary==2.9.11
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==22.0.0
pycares==4.11.0
pycodestyle==2.14.0
pycparser==2.23
pydantic==2.12.4
pydantic_core==2.41.5
Pygments==2.19.2
pyluach==2.3.0
pyparsing==3.2.5
pytest==9.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-multipart==0.0.20
pytz==2025.2
PyYAML==6.0.1
Quandl==3.7.0
quantstats-lumi==1.0.1
requests==2.32.5
requests-oauthlib==2.0.0
rich==14.2.0
rich-toolkit==0.15.1
rignore==0.7.6
s3transfer==0.15.0
schwab-py==1.5.1
scipy==1.16.3
seaborn==0.13.2
sentry-sdk==2.45.0
setuptools==80.9.0
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
soupsieve==2.8
SQLAlchemy==2.0.44
sseclient-py==1.8.0
stack-data==0.6.3
starlette==0.49.3
tabulate==0.9.0
termcolor==3.2.0
toolz==1.1.0
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
typer==0.20.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
urllib3==1.26.20
uvicorn==0.38.0
uvloop==0.22.1
watchfiles==1.1.1
wcwidth==0.2.14
websocket-client==1.9.0
websockets==15.0.1
Werkzeug==3.1.3
xyzservices==2025.10.0
yarl==1.22.0
yfinance==0.2.66
zstandard==0.25.0
